# 3.3 Python Practicing - Part 2

## 3.3e Basic Data Types

### Strings (str) - Used for text data

Strings are used for text data like customer names, product descriptions, etc.

In [ ]:
customer_name = "John Smith"
product_category = 'Electronics'    # Can use single or double quotes
email = "john.smith@company.com"

print("String Examples:")
print("Customer:", customer_name)
print("Category:", product_category)
print("Email:", email)

String Examples:
Customer: John Smith
Category: Electronics
Email: john.smith@company.com

### String operations

You can combine strings using +

In [ ]:
full_message = "Dear " + customer_name + ", thank you for your purchase!"
print("\nCombined message:", full_message)

# You can also use string methods
print("Uppercase:", customer_name.upper())
print("Lowercase:", customer_name.lower())
print("Number of characters:", len(customer_name))

Combined message: Dear John Smith, thank you for your purchase!
Uppercase: JOHN SMITH
Lowercase: john smith
Number of characters: 10

## 3.3f Numbers (int, float) - Used for numerical data

### Integers (int) - Whole numbers

In [ ]:
quantity = 100
employee_id = 12345

### Floating point (float) - Decimal numbers

In [ ]:
price = 19.99
tax_rate = 0.15

In [ ]:
print("\nNumber Examples:")
print("Quantity (int):", quantity)
print("Price (float):", price)

Number Examples:
Quantity (int): 100
Price (float): 19.99

### Numeric operations

In [ ]:
total_price = quantity * price
tax_amount = total_price * tax_rate
final_price = total_price + tax_amount

print("Total before tax:", total_price)
print("Tax amount:", tax_amount)
print("Final price:", final_price)

Total before tax: 1998.9999999999998
Tax amount: 299.84999999999997
Final price: 2298.85

## 3.3g Lists

Lists are ordered collections that can store multiple values. Think of them like a column in Excel.

### Creating lists

In [ ]:
monthly_sales = [45000, 52000, 47000, 48000, 54000]
product_names = ["Laptop", "Mouse", "Keyboard", "Monitor"]
daily_temperatures = [68.5, 70.2, 69.8, 71.5, 72.0]

print("\nList Examples:")
print("Monthly Sales:", monthly_sales)
print("Products:", product_names)

List Examples:
Monthly Sales: [45000, 52000, 47000, 48000, 54000]
Products: ['Laptop', 'Mouse', 'Keyboard', 'Monitor']

### List operations

In [ ]:
# Accessing elements (starts from 0)
print("\nFirst month sales:", monthly_sales[0])  # 45000
print("Last product:", product_names[-1])      # Monitor

# Adding items to a list
product_names.append("Printer")
print("Updated products:", product_names)

# List calculations
total_sales = sum(monthly_sales)
average_sales = total_sales / len(monthly_sales)

print("Total sales:", total_sales)
print("Average sales:", average_sales)

First month sales: 45000
Last product: Printer
Updated products: ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Printer', 'Printer']
Total sales: 246000
Average sales: 49200.0

## 3.3h Dictionaries

Dictionaries store key-value pairs. Think of them like a mini-database or Excel row.

### Creating a dictionary

In [ ]:
product = {
    "name": "Laptop",
    "price": 999.99,
    "stock": 45,
    "category": "Electronics",
    "in_stock": True
}

### Accessing and modifying values

In [ ]:
# Accessing dictionary values
print("Product name:", product["name"])
print("Product price:", product["price"])

# Modifying dictionary values
product["stock"] = 44  # Reduce stock by 1
product["last_sold"] = "2024-01-15"  # Add new information

print("Updated product:", product)

Product name: Laptop
Product price: 999.99
Updated product: {'name': 'Laptop', 'price': 999.99, 'stock': 44, 'category': 'Electronics', 'in_stock': True, 'last_sold': '2024-01-15'}

# Practice Problems

Try solving these problems by modifying the code below:

## Problem 1: String Manipulation

In [ ]:
# Create a customer email from their name and company
first_name = "Sarah"
last_name = "Johnson"
company = "TechCorp"

# Task: Create their email address following the format: first.last@company.com

## Problem 2: List Operations

In [ ]:
# You have the following sales data
quarterly_sales = [100000, 150000, 125000, 175000]

# Tasks:
# 1. Calculate the total annual sales
# 2. Find the highest quarterly sale
# 3. Calculate the average quarterly sale
# 4. Add a new quarter's prediction of 180000

## Problem 3: Dictionary Creation and Manipulation

In [ ]:
# Create a customer record with the following information:
# - Customer ID: 1001
# - Name: Alice Brown
# - Email: alice.brown@email.com
# - Purchase History: [1200, 1500, 800]
# Then calculate their total purchases

## Problem 4: Combined Data Structures

In [ ]:
# Create a list of dictionaries representing inventory:
# Each dictionary should contain:
# - Product name
# - Price
# - Quantity in stock
# Then calculate the total inventory value

## BONUS Challenge

In [ ]:
# Create a simple customer database using a list of dictionaries
# Then write code to:
# 1. Find all customers who spent more than $1000
# 2. Calculate the average purchase per customer
# 3. Find the customer who spent the most

# Solutions

In [ ]:
# Problem 1: String Manipulation
first_name = "Sarah"
last_name = "Johnson"
company = "TechCorp"

# Creating email
email = first_name.lower() + "." + last_name.lower() + "@" + company.lower() + ".com"
print("\nExercise 1 Solution:")
print("Generated email:", email)  # sarah.johnson@techcorp.com

# Problem 2: List Operations
quarterly_sales = [100000, 150000, 125000, 175000]

# 1. Total annual sales
annual_sales = sum(quarterly_sales)

# 2. Highest quarterly sale
highest_quarter = max(quarterly_sales)

# 3. Average quarterly sale
average_quarter = sum(quarterly_sales) / len(quarterly_sales)

# 4. Add new prediction
quarterly_sales.append(180000)

print("\nExercise 2 Solution:")
print("Annual sales:", annual_sales)
print("Highest quarter:", highest_quarter)
print("Average quarter:", average_quarter)
print("Updated quarters:", quarterly_sales)

# Problem 3: Dictionary Creation
customer = {
    "customer_id": 1001,
    "name": "Alice Brown",
    "email": "alice.brown@email.com",
    "purchase_history": [1200, 1500, 800]
}

# Calculate total purchases
total_purchases = sum(customer["purchase_history"])

print("\nExercise 3 Solution:")
print("Customer record:", customer)
print("Total purchases:", total_purchases)

# Problem 4: Combined Data Structures
inventory = [
    {"name": "Laptop", "price": 999.99, "quantity": 10},
    {"name": "Mouse", "price": 24.99, "quantity": 100},
    {"name": "Monitor", "price": 199.99, "quantity": 25}
]

# Calculate total inventory value
total_value = 0
for item in inventory:
    item_value = item["price"] * item["quantity"]
    total_value += item_value

print("\nExercise 4 Solution:")
print("Inventory:", inventory)
print("Total inventory value:", total_value)

# BONUS Challenge Solution
customers = [
    {
        "name": "John Doe",
        "purchases": [500, 700, 300]
    },
    {
        "name": "Jane Smith",
        "purchases": [1200, 900, 400]
    },
    {
        "name": "Bob Johnson",
        "purchases": [2000, 1500]
    }
]

# 1. Customers who spent more than $1000 total
high_value_customers = []
for customer in customers:
    total_spent = sum(customer["purchases"])
    if total_spent > 1000:
        high_value_customers.append({"name": customer["name"], "total_spent": total_spent})

# 2. Average purchase per customer
total_all_purchases = 0
num_customers = len(customers)
for customer in customers:
    total_all_purchases += sum(customer["purchases"])
average_per_customer = total_all_purchases / num_customers

# 3. Customer who spent the most
highest_spender = max(customers, key=lambda x: sum(x["purchases"]))

print("\nBONUS Challenge Solution:")
print("High value customers:", high_value_customers)
print("Average per customer:", average_per_customer)
print("Highest spender:", highest_spender["name"])

Exercise 1 Solution:
Generated email: sarah.johnson@techcorp.com

Exercise 2 Solution:
Annual sales: 550000
Highest quarter: 175000
Average quarter: 137500.0
Updated quarters: [100000, 150000, 125000, 175000, 180000]

Exercise 3 Solution:
Customer record: {'customer_id': 1001, 'name': 'Alice Brown', 'email': 'alice.brown@email.com', 'purchase_history': [1200, 1500, 800]}
Total purchases: 3500

Exercise 4 Solution:
Inventory: [{'name': 'Laptop', 'price': 999.99, 'quantity': 10}, {'name': 'Mouse', 'price': 24.99, 'quantity': 100}, {'name': 'Monitor', 'price': 199.99, 'quantity': 25}]
Total inventory value: 17498.65

BONUS Challenge Solution:
High value customers: [{'name': 'John Doe', 'total_spent': 1500}, {'name': 'Jane Smith', 'total_spent': 2500}, {'name': 'Bob Johnson', 'total_spent': 3500}]
Average per customer: 2500.0
Highest spender: Bob Johnson

# Python Libraries

### Example with Random Numbers

Similar to the `=RAND()` function in Excel, you can google that the function to generate a random float between 0 and 1 in Python is `random()`.

**BUT**

In [ ]:
a = random()

print(a)

NameError: name 'random' is not defined

### NumPy (for numerical computations)

In [ ]:
import numpy as np

### Pandas (for data manipulation and analysis)

In [ ]:
import pandas as pd

### Matplotlib (for data visualization)

In [ ]:
import matplotlib.pyplot as plt

### Seaborn (for statistical data visualization)

In [ ]:
import seaborn as sns

### Scikit-learn (for machine learning)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

### SciPy (for scientific and technical computing)

In [ ]:
import scipy as sp

### Statsmodels (for statistical modeling)

In [ ]:
import statsmodels.api as sm

### Plotly (for interactive visualizations)

In [ ]:
import plotly.express as px

### TensorFlow (for deep learning)

In [ ]:
import tensorflow as tf

### Importing Issues in Notebooks
Use the following code to test your notebook. It should be able to import these libraries. In case it does not work, use the following code:
```
import piplite
await piplite.install('seaborn')
import seaborn as sns
```
Adjust to other libraries - this is an example for seaborn which does not work properly on some platforms.