# 3.3 Python Practicing - Part 1

## 3.3a Creating Variables

 In Python, we can store values in variables, similar to how we use spreadsheet cells

Variables are case-sensitive: 'Revenue' and 'revenue' are different variables

Variable names cannot start with numbers and can't contain spaces

### Example: Storing financial values

In [ ]:
revenue = 1000    # Store the revenue amount (like cell A1 in Excel)
costs = 600      # Store the costs amount (like cell A2 in Excel)

### Guideline: Good variable names are descriptiv

In [ ]:
monthly_revenue = 5000        # Clear what this represents
mr = 5000                    # Not clear - avoid abbreviations like this

### Once a cell with variable definition is run, the variable is available in other cells.

In [ ]:
mr/2
monthly_revenue/2
revenue * costs

600000

## 3.3b Basic Mathematical Operations

Python can perform calculations just like a calculator or Excel.

### Addition (+)

In [ ]:
#Example: Combining sales from two departments

department1_sales = 500
department2_sales = 300

total_sales = department1_sales + department2_sales

print("Total sales from both departments:", total_sales)

Total sales from both departments: 800

### Subtraction (-)

In [ ]:
# Example: Calculating profit

profit = revenue - costs

print("Profit = Revenue - Costs:", profit)

Profit = Revenue - Costs: 400

### Multiplication (*)

In [ ]:
# Example: Calculating total revenue from units sold

units_sold = 50              # Number of products sold
price_per_unit = 20         # Price of each product

revenue_calculation = units_sold * price_per_unit

print("Revenue from units:", revenue_calculation)

Revenue from units: 1000

### Division (/)

In [ ]:
# Example: Calculating average sales per day

weekly_sales = 1500
days_in_week = 7

average_daily_sales = weekly_sales / days_in_week

print("Average daily sales:", average_daily_sales)

Average daily sales: 214.28571428571428

### Basic Built-in Functions

Just like Excel has SUM(), AVERAGE(), MAX(), etc., Python has similar built-in functions ready to use.

In [ ]:
# Create some numbers to work with (like having numbers in Excel cells)
sales_numbers = [100, 150, 200, 250, 300]
print("Our sales numbers:", sales_numbers)

Our sales numbers: [100, 150, 200, 250, 300]

#### sum() - Like SUM() in Excel

In [ ]:
total_sales = sum(sales_numbers)
print("\nTotal sales using sum():", total_sales)

Total sales using sum(): 1000

#### max() - Like MAX() in Excel

In [ ]:
highest_sale = max(sales_numbers)
print("Highest sale using max():", highest_sale)

Highest sale using max(): 300

#### min() - Like MIN() in Excel

In [ ]:
lowest_sale = min(sales_numbers)
print("Lowest sale using min():", lowest_sale)

Lowest sale using min(): 100

#### len() - Counts how many items (like COUNTA() in Excel)

In [ ]:
number_of_sales = len(sales_numbers)
print("Number of sales using len():", number_of_sales)

Number of sales using len(): 5

#### round() - Like ROUND() in Excel

In [ ]:
average_sale = sum(sales_numbers) / len(sales_numbers)
rounded_average = round(average_sale, 2)  # 2 means round to 2 decimal places
print("Average sale (rounded):", rounded_average)

Average sale (rounded): 200.0

## 3.3c Updating Variables

Variables can be updated during the program, like updating a spreadsheet cell.

In [ ]:
# Example: Tracking sales throughout the day
daily_sales = 1000
print("Morning sales:", daily_sales)

# Add afternoon sales
daily_sales = daily_sales + 500    # Long way
print("After afternoon sales:", daily_sales)

daily_sales += 300                 # Shorter way to add to existing value
print("After evening sales:", daily_sales)

Morning sales: 1000

## 3.3d Basic Practice Exercises

### Exercise 1: Simple Sales Calculator

In [ ]:
product_price = 25
quantity_sold = 100

# Calculate total revenue

In [ ]:
product_price = 25
quantity_sold = 100

# Calculate total revenue
total_revenue = product_price * quantity_sold
print("\nExercise 1 Results:")
print("Total Revenue:", total_revenue)

Exercise 1 Results:
Total Revenue: 2500

### Exercise 2: Profit Margin Calculator

In [ ]:
sales_revenue = 10000
product_costs = 6000

# Calculate profit and profit margin

In [ ]:
sales_revenue = 10000
product_costs = 6000

# Calculate profit and profit margin
profit = sales_revenue - product_costs
profit_margin = (profit / sales_revenue) * 100
print("\nExercise 2 Results:")
print("Profit:", profit)
print("Profit Margin:", profit_margin, "%")

Exercise 2 Results:
Profit: 4000
Profit Margin: 40.0 %

# Practice Problems

Try solving these problems by modifying the code below:

## Problem 1: Commission Calculator

In [ ]:
# A sales person makes a 5% commission on sales
# Calculate their commission for a sale of $2000

sales_amount = 2000
commission_rate = 0.05

# Your code here - calculate commission

## Problem 2: Growth Calculator

In [ ]:
# If a company's revenue grows by 10% each year,
# what will be the revenue after one year if starting revenue is $50000?

initial_revenue = 50000
growth_rate = 0.10

# Your code here - calculate new revenue

## Problem 3: Break-Even Calculator

In [ ]:
# If fixed costs are $20000 and profit per unit is $40,
# how many units need to be sold to break even?

fixed_costs = 20000
profit_per_unit = 40

# Your code here - calculate break-even point

## BONUS Challenge

In [ ]:
# Create a simple ROI (Return on Investment) calculator
# ROI = (Gain from Investment - Cost of Investment) / Cost of Investment * 100

investment_cost = 15000
investment_return = 18000

# Your code here - calculate ROI

# Solutions

In [ ]:
# Problem 1: Commission Calculator
# A sales person makes a 5% commission on sales
# Calculate their commission for a sale of $2000
sales_amount = 2000
commission_rate = 0.05
commission = sales_amount * commission_rate
print("\nSolution 1 - Commission Calculator:")
print("Sales Amount:", sales_amount)
print("Commission Rate:", commission_rate)
print("Commission Earned:", commission)  # Should be 100

# Problem 2: Growth Calculator
# If a company's revenue grows by 10% each year,
# what will be the revenue after one year if starting revenue is $50000?
initial_revenue = 50000
growth_rate = 0.10
revenue_growth = initial_revenue * growth_rate    # Calculate the growth amount
new_revenue = initial_revenue + revenue_growth    # Add growth to initial revenue
# Alternative one-line solution: new_revenue = initial_revenue * (1 + growth_rate)
print("\nSolution 2 - Growth Calculator:")
print("Initial Revenue:", initial_revenue)
print("Growth Rate:", growth_rate)
print("Revenue After One Year:", new_revenue)  # Should be 55000

# Problem 3: Break-Even Calculator
# If fixed costs are $20000 and profit per unit is $40,
# how many units need to be sold to break even?
fixed_costs = 20000
profit_per_unit = 40
break_even_units = fixed_costs / profit_per_unit
print("\nSolution 3 - Break-Even Calculator:")
print("Fixed Costs:", fixed_costs)
print("Profit per Unit:", profit_per_unit)
print("Break-even Units:", break_even_units)  # Should be 500

# BONUS Challenge: ROI Calculator
# ROI = (Gain from Investment - Cost of Investment) / Cost of Investment * 100
investment_cost = 15000
investment_return = 18000
roi = ((investment_return - investment_cost) / investment_cost) * 100
print("\nBONUS Solution - ROI Calculator:")
print("Investment Cost:", investment_cost)
print("Investment Return:", investment_return)
print("ROI:", roi, "%")  # Should be 20%

Solution 1 - Commission Calculator:
Sales Amount: 2000
Commission Rate: 0.05
Commission Earned: 100.0

Solution 2 - Growth Calculator:
Initial Revenue: 50000
Growth Rate: 0.1
Revenue After One Year: 55000.0

Solution 3 - Break-Even Calculator:
Fixed Costs: 20000
Profit per Unit: 40
Break-even Units: 500.0

BONUS Solution - ROI Calculator:
Investment Cost: 15000
Investment Return: 18000
ROI: 20.0 %

# Python Libraries

### Example with Random Numbers

Similar to the `=RAND()` function in Excel, you can google that the function to generate a random float between 0 and 1 in Python is `random()`.

**BUT**

In [ ]:
a = random()

print(a)

NameError: name 'random' is not defined

### NumPy (for numerical computations)

In [ ]:
import numpy as np

### Pandas (for data manipulation and analysis)

In [ ]:
import pandas as pd

### Matplotlib (for data visualization)

In [ ]:
import matplotlib.pyplot as plt

### Seaborn (for statistical data visualization)

In [ ]:
import seaborn as sns

### Scikit-learn (for machine learning)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

### SciPy (for scientific and technical computing)

In [ ]:
import scipy as sp

### Statsmodels (for statistical modeling)

In [ ]:
import statsmodels.api as sm

### Plotly (for interactive visualizations)

In [ ]:
import plotly.express as px

### TensorFlow (for deep learning)

In [ ]:
import tensorflow as tf

### Importing Issues in Notebooks
Use the following code to test your notebook. It should be able to import these libraries. In case it does not work, use the following code:
```
import piplite
await piplite.install('seaborn')
import seaborn as sns
```
Adjust to other libraries - this is an example for seaborn which does not work properly on some platforms.